.container {
    text-align: left;
}

#reviewBox {
    width: 100%;
    padding: 1rem 10rem 15rem 14px;
    margin: 1px 0 0 0;
    box-sizing: border-box;
}

#rating {
    width: 3rem;
    height: 2rem;
    padding: 0;
    text-align: center;
}

.input {
    max-width: 100%;
}
