ul {
    display: flex;
    gap: 4rem;
    list-style-type: none;
}

li {
    font-size: 1.25rem;
}

.navBar {
    background: #f7c325;
    box-shadow: 4px 2px 5px gray;
    color: white;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
}

.navBar button {
    float: right;
    background: transparent;
    border: 2px solid white;
    padding: 0.4rem 0.5rem;
}

.authButton {
    align-self: flex-end;
}

.logoutButton {
    color: red;
}

.logoutButton:hover {
    background: red;
}

.loginButton {
    color: #2c88d9;
}

.loginButton:hover {
    background: #2c88d9;
}

.navBar button:hover {
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.brand {
    cursor: pointer;
    font-size: 2rem;
}
